<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <base href="/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/theme.css">
    <link rel="stylesheet" type="text/css" href="~/animate.css">
    <!-- javascript -->
    <script src="~/jquery.min.js"></script>
    <script src="~/bootstrap.min.js"></script>
    <script src="~/theme.js"></script>
    

</head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
