<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/public/animate.css" />



    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>

<body>
    <div id="studentHeader" class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <span style="color: white">Kuet Overflow</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a asp-area="" asp-controller="Courses" asp-action="StudentIndex">
                            <span style="color: white" class='glyphicon glyphicon-home'></span>
                            <span style="color: white">Home</span>
                        </a>
                    </li>
                    
                    <li>
                        <a asp-area="" asp-controller="Tweets" asp-action="Index">
                            <span style="color: white" class='glyphicon glyphicon-user'></span>
                            <span style="color: white">Account</span>
                        </a>
                    </li>
                    
                    <li>
                        <a asp-area="" asp-controller="Activities" asp-action="Index">
                            <span style="color: white" class='glyphicon glyphicon-list-alt'></span>
                            <span style="color: white">Activity</span>
                        </a>
                    </li>
                    
                    <li>
                        <a asp-area="" asp-controller="Messages" asp-action="UserMessages">
                            <span style="color: white" class='glyphicon glyphicon-envelope'></span>
                            <span style="color: white">Messages</span>
                        </a>
                    </li>
                    

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2016 - KuetOverflow</p>
    </footer>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/underscore-min.js"></script>
<script type="text/javascript" src="~/js/moment.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    
    
<script type="text/x-template" id="notifications-template">
    <ul class="notifications">
        <% 
            _.each(notifications, function(notification){%>
                <li>
                    <span class="highlight"><%= notification.user.name %></span><%= notification.body %>
                    <br/>
                    <%= notification.timeDiffrence %>
                </li>       
         <%});
        %>
    </ul>
</script>    
    



<environment names="Staging,Production">

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/Site.js"></script>

</environment>

    @RenderSection("scripts", required: false)
</body>
</html>
