@model IEnumerable<KuetOverflow.Models.Question>
@{
    ViewBag.Title = "Courses";
    Layout = "_StudentLayout";
}


<div class="col-md-3">
    <h2>Classes</h2>
</div>


<div class="col-md-9">
    <h2>Queations</h2>

    <input type="button" class="btn btn-primary" value="Ask Question" onclick="@("window.location.href='" + @Url.Action("Create", "Questions") + "'");" />
    <br/><br/>
    <ul>
        @foreach (var question in Model)
        {
            <li>
                <a asp-controller="Questions" asp-action="Details" asp-route-id="@question.ID">
                    @question.Title
                </a>
            </li>
        }
    
    </ul>
</div>

