@model IEnumerable<KuetOverflow.Models.Enrollment>
@{
    ViewBag.Title = "Courses";
    Layout = "_StudentLayout";
}
<br/><br/>
<h2>Courses</h2>

<div id="coueselist" class="col-md-2">
    @if (!(Model == null))
    {        
        foreach (var item in Model)
        {
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">2</span>
                    @Html.DisplayFor(model => item.Course.Title)
                </li>
            </ul>

        }
    }

</div>
