@using Microsoft.AspNetCore.Mvc.Rendering
@model KuetOverflow.Models.SchoolViewModels.StudentIndexViewModel
@{
    ViewBag.Title = "Courses";
    Layout = "_StudentLayout";
}
<br/><br/>


<div class="row">
    <div class="col-md-2 list-group">
        <h2>Courses</h2>
        @if (Model != null)
        {
            foreach (var item in Model.Enrollments)
            {

                    <li class="list-group-item">
                        <a asp-action="CourseQuestions" asp-route-id="@item.CourseID">
                            @Html.DisplayFor(model => item.Course.Title)
                        </a>
                    </li>

            }
        }

    </div>

    <div class="col-md-6">
        @if (Model.Tweets != null)
        {
            foreach (var tweet in Model.Tweets)
             {
                 Html.RenderPartial("_tweet",tweet);
             }
        }

    </div>

    <div class="col-md-4">
        <h2>Popular Questions</h2>
        <div id="popularQuestion">
            
        </div>
    </div>

</div>
