@model IEnumerable<KuetOverflow.Models.Enrollment>
@{
    ViewBag.Title = "Courses";
    Layout = "_StudentLayout";
}
<br/><br/>


<div class="row">
    <div class="col-md-2 list-group">
        <h2>Courses</h2>
        @if (Model != null)
        {
            foreach (var item in Model)
            {

                    <li class="list-group-item">
                        <a asp-action="CourseQuestions" asp-route-id="@item.CourseID">
                            @Html.DisplayFor(model => item.Course.Title)
                        </a>
                    </li>

            }
        }

    </div>

    <div class="col-md-6">
        <h2>Time line</h2>

    </div>

    <div class="col-md-4">
        <h2>Popular Questions</h2>
    </div>

</div>
