@model IEnumerable<KuetOverflow.Models.Tweet>

@{
    ViewData["Title"] = "Posts";
    Layout = "_StudentLayout";
}


<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="row">
    <div class="col-md-2">

    </div>
    
    <div class="col-md-6">

    </div>
    
    <div class="col-md-4">

    </div>
</div>