@model IEnumerable<KuetOverflow_ASP.NET.Models.BlogPost>
@{
    Layout = "_Layout";
}

<h3>Recent Blog Posts</h3>

@foreach (var post in Model)
{
    <div>
        @Html.Partial("_Post", post)
    </div>
}