@model KuetOverflow.Models.Message

<div id="row_Message">
    <div class="row">
        <div class="col-md-12">
            <span style="text-align: left; background-color:gray; color:white; padding:5px 20px; border-radius:10px">@Model.Body</span>
        </div>
    </div>
</div>