@model IEnumerable<KuetOverflow.Models.TwitterUser>

@{
    ViewBag.Title = "Messages";
    Layout = "_StudentLayout";
}



<div class="row">
    <div class="col-md-2">
        <h2>Users</h2>
        @foreach (var user in Model)
        {
            <div class="list-group-item">
                @user.UserName
            </div>
        }
    </div>
    <div class="col-md-8">
        <h2>Messages</h2>
        <div>
            
        </div>
    </div>
    <div class="col-md-2">
        <h2>Following</h2>
    </div>
</div>
