@model IEnumerable<KuetOverflow.Models.TwitterUser>

@{
    ViewBag.Title = "Messages";
    Layout = "_StudentLayout";
}



<div class="row">
    <div class="col-md-2">
        <h2>Users</h2>
        <div id="chat_user" >
            @foreach (var user in Model)
            {

                <a class="list-group-item" user="@user.ID" href="@Url.Action("GetAllMessages", new {id=user.ID})">
                    @user.UserName
                </a>

            }
        </div>

    </div>
    <div class="col-md-6">
        <h2>Messages</h2>
        <div class="hidden" id="url">#</div>
        <div id="messages">
            
        </div>
    </div>
    <div class="col-md-4">
        <h2>Following</h2>
    </div>
</div>
