body {
    padding-top: 50px;
    padding-bottom: 20px;
}
#studentHeader {
    background-image: url("../images/feature3.PNG");
    width: auto;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.green_icon {
    color: green;   
}

.red_icon {
    color: red;
}

.pink_icon {
    color: blueviolet;
}

#vote a{
    color: inherit;
}



.glyphicon.glyphicon-triangle-top {
    font-size: 20px;
}


.glyphicon.glyphicon-triangle-bottom {
    font-size: 20px;
}


.glyphicon.glyphicon-star {
    font-size: 20px;
}

.glyphicon.glyphicon-globe {
    font-size: 20px;
}


.glyphicon.glyphicon-star-empty {
    font-size: 20px;
}

.notification {
    position: relative;
}


.notification .badge {
    position: absolute;
    top: 8px;
    right: -1px;
    background: #a80a0a;
}

ul.notifications {
    list-style: none;
    padding-left: 0px;
}

ul.notifications > li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
}


ul.notifications > li:last-child {
    border-bottom: none;
}