@model KuetOverflow_ASP.NET.Models.BlogPost

<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="" alt="User Image">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">@Model.Title</h4>
        <p>By  @Model.Author</p>
        <br />
        <p>@Model.Description</p>
    </div>
</div>

<br/>
