<div class="index-hero">
    <div class="container">
        <h1 class="hero-text animated fadeInDown">
            Welcome To <br>

            Khulna University of Engineering &amp; Technology
        </h1>
        <p class="sub-text animated fadeInDown">
            Home of all Engineers :p
        </p>
        <div class="cta animated fadeInDown">
            <a href="#" class="button-outline">See the tour</a>
            <a href="#" class="button">Administrator</a>
        </div>
        <!--<div class="img">

        </div>-->
    </div>
</div>




<div class="features-section">
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
                <h2>Need an easy way to customize your site?</h2>
                <p>React is perfect for novice developers and experts alike.</p>
            </div>
        </div>
        <div class="row feature">
            <div class="col-md-6 info">
                <h4>You don't need to have great technical experience to use your product.</h4>
                <p>
                    Whether you want to fill this paragraph with some text like I'm doing right now, this place
                    is perfect to describe some features or anything you want - React has a complete solution for you.
                </p>
            </div>
            <div class="col-md-6 back-image" style="height: 280px; background-image: url('../../../../slide2.png')">

            </div>
        </div>
        <div class="divider"></div>
        <div class="row feature backwards">
            <div class="col-md-8 info">
                <h4>A fully featured well design template that works.</h4>
                <p>
                    You have complete control over the look &amp; feel of your website, we offer the best quality so you
                    take your site up and running in no time.
                </p>
                <p>
                    Write some text here to explain the features of your site or application, it
                    has lots of uses.
                </p>
            </div>
            <div class="col-md-4 back-image" style="height: 280px">
                
            </div>
        </div>
    </div>
</div>