<div class="index-hero">
    <div class="container">
        <h1 class="hero-text animated fadeInDown">
            Welcome To <br>

            Khulna University of Engineering &amp; Technology
        </h1>
        <p class="sub-text animated fadeInDown">
            Home of all Engineers :p
        </p>
        <div class="cta animated fadeInDown">
            <a href="#" class="button-outline">See the tour</a>
            <a href="#" class="button">Administrator</a>
        </div>
        <!--<div class="img">

        </div>-->
    </div>
</div>
