<div class="index-hero">
    <div class="container">
        <h1 class="hero-text animated fadeInDown">
            The best interfaces <br>
            for your web &amp; mobile apps
        </h1>
        <p class="sub-text animated fadeInDown">
            Get a complete existing website with great design up and running in no time for your projects.
        </p>
        <div class="cta animated fadeInDown">
            <a href="https://themereact.herokuapp.com/features.html" class="button-outline">See the tour</a>
            <a href="https://themereact.herokuapp.com/signup.html" class="button">Sign up free</a>
        </div>
        <div class="img">

        </div>
    </div>
</div>
